@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: center;
}

.table__data__presenting__author {
  text-align: center;
}
